target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/.mvn/
/mvnw
/mvnw.cmd

/data-generation-service/.mvn/
/data-generation-service/HELP.md
/data-generation-service/mvnw
/data-generation-service/mvnw.cmd
/external-data-service/.mvn/
/external-data-service/target/
/external-data-service/HELP.md
/external-data-service/mvnw
/external-data-service/mvnw.cmd
/report-generator-service/.mvn/
/report-generator-service/HELP.md
/report-generator-service/mvnw
/report-generator-service/mvnw.cmd
/config-control-service/.mvn/
/config-control-service/HELP.md
/config-control-service/mvnw
/config-control-service/mvnw.cmd
